scikit-learn
pandas
numpy
matplotlib
seaborn
tensorflow==2.15.0
keras
opencv-python
h5py
ipykernel
torch
torchvision
fastai
pytorch-lightning
jupyter
scipy
scikit-image
plotly
xgboost
lightgbm
catboost
statsmodels
sympy
scrapy
beautifulsoup4
nltk
jupyter
jupyterlab
tensorboard
scikeras
streamlit
Cython==0.24.1
falcon==1.0.0
gevent==1.1.2
greenlet==0.4.10
html5lib==0.999999999
MySQL-python==1.2.5
requests==2.11.1
gunicorn==19.6.0
ujson==1.35
statsd==3.2.1
cffi
msgpack
easydict
pyyaml
tensorboardX
pillow
pixellib
tensorflow-gpu
